<img
	src="../brightGallery.png"alt="#"
/>
<h1>Hello Dear {{name}}</h1>
<h2>Please click below to confirm your email</h2>
<h2>You received this email because we received a reset password request for your account.</h2>
<p>
	<a href="{{url}}">Reset</a>
</p>

<p>If you did not send a reset password request, please ignore this email.</p>